/* NavBar.css

/* Custom navbar background color */
.navbar-custom { 
     background-color: #0e1417; 
   }
  
  .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #0f7eee; /* Blue underline for active tab */
   } 
  
  .nav-link {
    margin-right: 20px; /* Add some space between the tabs */
   } 
  
   .tab-content { 
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
  } */
  .header-container {
    background-color: #a5caee; /* Light blue background */
    padding: 10px 15px;
    border-bottom: 2px solid #ddd;
  }
  .container-fluid{
    background-color: #a5caee;
    /* padding: 10px 20px; */
  }
  
  .brand-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
  }
  
  .circle-icon {
    font-size: 1.2rem;
    margin-right: 8px;
  }
  
  .nav-link-custom {
    font-size: 1.1rem;
    color: #050c14;
    margin-right: 10px;
  }
  
  .nav-link-custom:hover {
    text-decoration: underline;
    color: #111418;
  }
  
  .welcome-text {
    font-size: 1rem;
    margin-right: 15px;
  }
  
  .logout-btn {
    background-color: #e9950e;
    border: none;
    padding: 5px 12px;
  }
  
  .mt-2 {
    margin-top: 10px;
  }
  
  
  
   